$primary-color: #22aaff;
$secondary-color: #0099dd;
$tertiary-color: #0077aa;

$background-color: #222233;
$background-color-light: #333344;

$font-family: 'Roboto', sans-serif;
$font-size: 16px;
$font-color: #ffffff;
$font-secondary-color: #aaaaaa;