@import '../../variables';

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#home-card {
    max-width: 80vw;
    max-height: 80vh;
    width: 80vw;
    height: 80vh;

    h1 {
        text-align: center;
        margin-bottom: 1em;
    }

    .horizontal-split > .left {
        margin-right: 1em;
    }
}